{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Choix de la date{% endblock %}

{% block content %}
		<div class="container">
			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Choix de la date</h1>
					<p class="text-center">
						Sélectionnez la date à laquelle vous souhaitez visiter le Louvre. Vous pourrez alors choisir un billet pour la journée ou la demi journée.<br>
						Les journées non sélectionnables correspondent aux jours fériés et aux jours où le musée sera complet.
					</p>
				</div>
			</div><!-- head row -->

			<div class="row">
				{# Symfony form object view made by hand #}
				{{ form_start(form, { 'attr': { 'class': 'datepicker-center' } }) }}

					{# Bursted field generation #}
					<div class="form-group">
						<div id="datepicker"></div>
						<br>
						{{ form_widget(form.date, { 'id': 'date' }) }}
						{{ form_errors(form.date) }}
					</div>
					{{ form_widget(form.fullDay, { 'id': 'fullDay', 'attr': { 'class': 'datepicker-submit full-day', 'disabled': 'disabled' } }) }}
					{{ form_widget(form.halfDay, { 'attr': { 'class': 'datepicker-submit half-day' } }) }}

				{{ form_end(form) }}
			</div><!-- form row -->

		</div><!-- container -->
{% endblock %}