{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Informations{% endblock %}

{% block content %}
		<div class="container">

			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Informations</h1>
					<p class="text-center">
						Entrez l'adresse e-mail sur laquelle vous souhaitez recevoir une copie de vos billets.<br>
						Puis donnez les informations de la personne à qui appartiendra le billet.<br>
						Cliquez sur "ajouter un billet" pour acheter plusieurs billets.
					</p>
				</div>
			</div><!-- head row -->

			<div class="row">
				<div class="h2-container-center">
					<h2>Adresse de réception de vos billets</h2>
				</div>

				{# Bootstrap form theme declaration for reservationForm #}
				{% form_theme reservationForm 'LouvreReservationBundle:Form:bootstrap_theme.html.twig' %}

				{{ form_start(reservationForm,{ 'attr': { 'class': 'ticketing-center form-horizontal' } }) }}

					<div class="form-group">
						<label class="control-label col-md-2">Date sélectionnée :</label>
						<div class="col-md-10">
							<span class="form-control">Le {{ app.session.get('reservation').date | date('d/m/Y', 'Europe/Paris') }}, {{ (app.session.get('reservation').type == 'fullDay') ? 'tarif journée' : 'tarif demi-journée' }}</span>
						</div>
					</div>
					<div class="form-group">
						{{ form_label(reservationForm.email, 'Adresse e-mail :', { 'label_attr': { 'class': 'control-label col-md-2' } }) }}
						{{ form_errors(reservationForm.email) }}
						<div class="col-md-10">
							{{ form_widget(reservationForm.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Entrez votre adresse e-mail ...' } }) }}
						</div>
					</div>

					<div class="h2-container-center">
						<h2>Informations à fournir</h2>
					</div>					

					{# Reservation Ticket form collection #}
					{{ form_widget(reservationForm.tickets) }}

					{# Add ticket link #}
					 <div class="text-right">
						<a href="#" id="addForm"><span class="glyphicon glyphicon-plus"></span> Ajouter un billet</a>
					</div>

					{# Form submit #}
					<div class="ticketing-submit-container">
						{{ form_widget(reservationForm.confirm, { 'attr': { 'class': 'ticketing-submit' } }) }}
					</div>

				{{ form_end(reservationForm) }}
			</div><!-- reservation row -->

		</div><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ asset('js/multiform.js') }}"></script>
{% endblock %}