{% extends 'LouvreReservationBundle:Reservation:layout.html.twig' %}

{% block title %}- Validation{% endblock %}

{% block content %}
		<div class="container">

			<div class="row row-bordered">
				<div class="container-small">
					<h1 class="text-center">Validation de votre réservation</h1>
				</div>
			</div><!-- head row -->

			<div class="row">
				<div class="validation-intro-container">
					<p class="text-center">
						Merci de soutenir le musée du Louvre en réservant vos billets d'entrée !<br>
						Vous allez bientôt recevoir un e-mail à l'adresse que vous avez indiqué, contenant vos billets attitrés. Vous devrez les imprimer pour les présenter à l'accueil lors de votre visite.<br>
						Pour tout problème concernant votre commande, n'hésitez pas à nous contacter sur cette page.
					</p>
				</div>
			</div><!-- Infos row -->

			<div class="row">
				<div id="wrapper" class="validation-container">
					<div class="text-center">
						<h3>Accusé de réception de votre commande</h3>
						<h4>N° {{ reservation.code }}</h4>
					</div>
					<table class="table details-container">
						<thead>
							<tr>
								<th>Label</th>
								<th>Information</th>
							</tr>
						</thead>
						<tr>
							<td class="table-label">
								<strong>Date sélectionnée :</strong>
							</td>
							<td>
								Le {{ reservation.date | date('d/m/Y', 'Europe/Paris') }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Adresse e-mail :</strong>
							</td>
							<td>
								{{ reservation.email }}
							</td>
						</tr>
							<td>
								<strong>Nombre de billets commandés :</strong>
							</td>
							<td>
								{{ reservation.nbTickets }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Prix total :</strong>
							</td>
							<td>
								<strong>{{ reservation.totalPrice }}€</strong>
							</td>
						</tr>
					</table>
				</div>
			</div><!-- Wrapper row -->

			<a href="{{ path('louvre_reservation_home') }}" class="col-xs-12 col-md-offset-3 col-md-6 text-center confirm-link">
				<img src="{{ asset('images/homepage.png') }}" class="home-icon" title="Retourner à l'accueil" alt="Icône d'accueil">
				Retourner à l'accueil
			</a>

		</div><!-- container -->
{% endblock %}
